/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  /* сохраните этот селектор в приведённом виде.
    Так стили написанные ниже будут иметь больший вес,
    чем стили в медиазапросе предпочтений пользователя
  */
  --main-bg-color: #010028;
  --bg-image: url(../images/cover-image-dark.png);
  --accent-bg-title-color: #000028;
  --accent-color: #ff0070;
  --accent-bg-color: #ff0070;
  --accent-color-RGBA-low: rgba(255, 0, 112, 0.4);
  --most-deco-title-color: #db00ff;
  --contrast-color: #f1b2ce;
  --shadow-color: #fe0070;
  --display-decorated-element: inline-block;
}
