/* Если убрать дубликаты обращений к селекторам, то при выборе в браузере эмуляции по умолчанию тёмной 
  темы и при одновременном нажатии на кнопку "День" цвета светлой темы меняются и все ломается.
  Если убрать из данного файла кастомные свойста, то при выборе в браузере по умолчанию тёмной темы
  кнопка "День" совсем перестаёт работать и оптять же все ломается.*/

:root.theme-light {
  --main-bg-color: #ffeef6;
  --bg-image: url(../images/cover-image-light.png);
  --accent-bg-title-color: #000028;
  --accent-color: #ff8dcb;
  --accent-color-RGBA-low: rgba(50, 49, 45, 0.4);
  --most-deco-title-color: #ffc2e6;
  --contrast-color: #353430;
  --shadow-color: #fe8dcc;
}

@media (prefers-color-scheme: light) {
  :root {
    /* Дублируем переменные светлой темы */
    --main-bg-color: #ffeef6;
    --bg-image: url(../images/cover-image-light.png);
    --accent-bg-title-color: #000028;
    --accent-color: #ff8dcb;
    --accent-color-RGBA-low: rgba(50, 49, 45, 0.4);
    --most-deco-title-color: #ffc2e6;
    --contrast-color: #353430;
    --shadow-color: #fe8dcc;
  }

  .decor__border__top {
    border-inline-end: var(--contrast-color) solid 1px;
    border-block-start: var(--contrast-color) solid 1px;
  }

  .decor__border__bottom {
    border-inline-start: var(--contrast-color) solid 1px;
    border-block-end: var(--contrast-color) solid 1px;
  }

  .sign__of__recording::before,
  .sign__of__recording::after {
    display: none;
  }

  .header__theme-menu-button {
    color: var(--contrast-color);
  }

  .header__theme-menu-button:focus-visible {
    box-shadow: 0 1px 0 var(--contrast-color);
  }

  .header__theme-menu-button_active {
    outline: var(--contrast-color) solid 1px;
  }

  .accent-color__title {
    color: var(--contrast-color);
  }
}

.theme-light .decor__border__top {
  border-inline-end: var(--contrast-color) solid 1px;
  border-block-start: var(--contrast-color) solid 1px;
}

.theme-light .decor__border__bottom {
  border-inline-start: var(--contrast-color) solid 1px;
  border-block-end: var(--contrast-color) solid 1px;
}

.theme-light .sign__of__recording::before,
.theme-light .sign__of__recording::after {
  display: none;
}

.theme-light .header__theme-menu-button {
  color: var(--contrast-color);
}

.theme-light .header__theme-menu-button:focus-visible {
  box-shadow: 0 1px 0 var(--contrast-color);
}

.theme-light .header__theme-menu-button_active {
  outline: var(--contrast-color) solid 1px;
}

.theme-light .accent-color__title {
  color: var(--contrast-color);
}
